<div class="frequency-form">
  <form [formGroup]="gridForm">
    <div class="frequency-form-row">
      <div class="frequency-form-colum">
        <div class="form-group group-box">
          <label class="label"> frequency for ():0</label>
          <input type="text" (input)="frequecyWordChange()" formControlName="frequencyWord" class="input-control"
            placeholder="Type word..." />
        </div>
      </div>
      <div class="frequency-form-colum">
        <div class="form-group group-box">
          <label class="label"> frequency greater then</label>
          <input type="number" (input)="frequecyCountChange()" formControlName="frequency" class="input-control">
        </div>
      </div>
    </div>
    <div class="frequency-form-row">
      <div class="frequency-form-colum">
        <div class="form-group group-box">
          <label class="label">highest frequency : 0</label>
          <textarea formControlName="inputText" (input)="inputChange()" class="input-control"
            placeholder="Past text to analyze..."></textarea>
        </div>
      </div>
      <div class="frequency-form-colum">
        <div class="group-box frequency-results">
          <div class="frequency-nomsg">{{word}}</div>
          <div class="frequency-nomsg">{{frequency}}</div>
          <div *ngFor="let item of result">
            Word: <b>{{item.word}}</b> and Count: <b>{{item.count}}</b>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
